@charset "utf-8";
$cube-size: 300px;
$cube-radius: $cube-size / 2;
.demo {
	width: $cube-size;
	height: $cube-size; // 设置透视距离
	perspective: 1000px;
	position: relative;
	margin: 30px auto;
}

header {
	display: flex;
}

.header-btn {
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
	cursor: pointer;
	margin: 30px auto;
	display: inline-block;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

@keyframes autoRotate {
  // show-front
  0%, 100% {
    transform: translateZ( - $cube-radius );
  }
  // show-back
  16.5% {
    transform: translateZ( - $cube-radius ) rotateX( -180deg );
  }
  // show-left
  33% {
    transform: translateZ( - $cube-radius ) rotateY( 90deg );
  }
  // show-right
  49.5% {
    transform: translateZ( - $cube-radius ) rotateY( -90deg );
  }
  // show-top
  66% {
    transform: translateZ( - $cube-radius ) rotateX( -90deg );
  }
  // show-bottom 
  82.5% {
    transform: translateZ( - $cube-radius ) rotateX( 90deg );
  }
}

.cube {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d; // 设置变形方式
	position: absolute;
	// transition: transform ease 1s;
	animation: autoRotate ease 18s alternate infinite;
	&.show-default {
		transform: translateZ( - $cube-radius) rotateY( -15deg) rotateX(-15deg);
	}
	&.show-front {
		transform: translateZ( - $cube-radius);
	}
	&.show-back {
		transform: translateZ( - $cube-radius) rotateX( -180deg);
	}
	&.show-right {
		transform: translateZ( - $cube-radius) rotateY( -90deg);
	}
	&.show-left {
		transform: translateZ( - $cube-radius) rotateY( 90deg);
	}
	&.show-top {
		transform: translateZ( - $cube-radius) rotateX( -90deg);
	}
	&.show-bottom {
		transform: translateZ( - $cube-radius) rotateX( 90deg);
	}
	&-face {
		border: 2px solid #000;
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		opacity: 0.9; // 透明
		backface-visibility: visible; // 设置每一个面的背面可见性
		&.is-front {
			transform: translateZ($cube-radius);
		}
		&.is-back {
			transform: rotateX(-180deg) translateZ($cube-radius)
		}
		&.is-right {
			transform: rotateY(90deg) translateZ($cube-radius)
		}
		&.is-left {
			transform: rotateY(-90deg) translateZ($cube-radius)
		}
		&.is-top {
			transform: rotateX(90deg) translateZ($cube-radius)
		}
		&.is-bottom {
			transform: rotateX(-90deg) translateZ($cube-radius)
		}
	}
	img {
		height: 100%;
		width: 100%;
	}
}